$watershedColor:#284b5f;
$projectsColor:#8cac65;
$headerTitle:#284b5f;
$sidebarColor:#333333;
$handleColor:#ffffff;
$lightLinks:#ffffff;
$tabColor:#ffffff;
$widgetBorderColor:#666666;
$widgetTextColor:#666666;
$widgetBackgroundColor:#ffffff;
$buttonTextColor:#ffffff;
